<div [hidden]="authService.dir=='ltr'"class="container mt-4">
  <div class="row">
    <div class="col-sm-4 mt-3">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoURL || 'assets/User.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>مكان الإقامة </strong>
            <p>{{user.country}}-{{user.city}}</p>
          </div>
          <div>
            <strong>العمر </strong>
            <p>{{age}}</p>
          </div>
          <div>
            <strong>آخر ظهور </strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>مشترك منذ </strong>
            <p>{{user.created | timeAgo}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button (click)="sendLike(user.id)" class="btn btn-primary w-100">إعجاب</button>
            <button  class="btn btn-primary ml-2 w-100" (click)="selectTab(3);">مراسلة</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-Panel">
        <tabset #memberTabs class="member-tabset">
          <tab heading="أنا {{user?.knownAs}}">
            <div class="card">
                <div class="card-header">
                    <h4>أعرفك بنفسي</h4>
                  </div>
                  <div class="card-text mt-3 p-2">
                    <p #intro>{{user.introduction | slice:0:200}}</p>
                  </div>
                  <button [hidden]='!showIntro' class="btn btn-primary" (click)="intro.innerText = user.introduction;showIntro=false;">إقرأ المزيد</button>
                  <button [hidden]='showIntro' class="btn btn-danger" (click)="intro.innerText = user.introduction.slice(0,200);showIntro=true;">تصغير</button>
            </div>
            
            <div class="card mt-4">
                <div class="card-header">
                    <h4>أبحث عن</h4>
                  </div>
                  <div class="card-text mt-3 p-2">
                    <p #look>{{user.lookingFor | slice:0:200}}</p>
                  </div>
                  <button [hidden]='!showLook' class="btn btn-primary" (click)="look.innerText = user.lookingFor;showLook=false;">إقرأ المزيد</button>
                  <button [hidden]='showLook' class="btn btn-danger" (click)="look.innerText = user.lookingFor.slice(0,200);showLook=true;">تصغير</button>
            </div>

            
          </tab>
      
      

      <tab heading="هواياتي">
          <div class="card">
              <div class="card-header">
                  <h4>هواياتي</h4>
                </div>
                <div class="card-text mt-3 p-2">
                    <p>{{user.interests}}</p>
                </div>
          </div>
      </tab>


      <tab heading="ألبوم الصور">

        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </tab>

      <tab heading="الرسائل" (deselect)="deselect();">
       <app-member-messages *ngIf="paid" [recipientId]="user.id"></app-member-messages>
       <app-payment *ngIf="!paid"></app-payment>
      </tab>

      </tabset>
    </div>
  </div>
</div>
</div>
<div [hidden]="authService.dir=='rtl'"class="container mt-4">
  <div class="row">
    <div class="col-sm-4 mt-3">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoURL || 'assets/User.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong> Résidance </strong>
            <p>{{user.country}}-{{user.city}}</p>
          </div>
          <div>
            <strong>Age </strong>
            <p>{{age}}</p>
          </div>
          <div>
            <strong>Dérnière activité  </strong>
            <p>{{user.lastActive | date}}</p>
          </div>
          <div>
            <strong> Inscris Depuis </strong>
            <p>{{created | date}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button (click)="sendLike(user.id)" class="btn btn-primary w-100">Matche</button>
            <button class="btn btn-primary ml-2 w-100" (click)="selectTab1(3);">Corréspondance</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-Panel">
        <tabset #memberTabs1 class="member-tabset">
          <tab heading="Moi {{user?.userName}}">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-left"> Je Me Présente</h4>
                  </div>
                  <div class="card-text mt-3 p-2">
                    <p #intro>{{user.introduction | slice:0:200}}</p>
                  </div>
                  <button [hidden]='!showIntro' class="btn btn-primary" (click)="intro.innerText = user.introduction;showIntro=false;"> Plus</button>
                  <button [hidden]='showIntro' class="btn btn-danger" (click)="intro.innerText = user.introduction.slice(0,200);showIntro=true;">Moins</button>
            </div>
            
            <div class="card mt-4">
                <div class="card-header">
                    <h4 class="text-left"> Je Cherche</h4>
                  </div>
                  <div class="card-text mt-3 p-2">
                    <p #look>{{user.lookingFor | slice:0:200}}</p>
                  </div>
                  <button [hidden]='!showLook' class="btn btn-primary" (click)="look.innerText = user.lookingFor;showLook=false;"> Plus</button>
                  <button [hidden]='showLook' class="btn btn-danger" (click)="look.innerText = user.lookingFor.slice(0,200);showLook=true;">Moins</button>
            </div>

            
          </tab>
      
      

      <tab heading="Mes Passions">
          <div class="card">
              <div class="card-header">
                  <h4 class="text-left">Mes Passions</h4>
                </div>
                <div class="card-text mt-3 p-2">
                    <p>{{user.interests}}</p>
                </div>
          </div>
      </tab>


      <tab heading=" Album Photos">

        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </tab>

      <tab heading="Messages" (deselect)="deselect();">
       <app-member-messages *ngIf="paid" [recipientId]="user.id"></app-member-messages>
       <app-payment *ngIf="!paid"></app-payment>
      </tab>

      </tabset>
    </div>
  </div>
</div>
</div>