.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
  color: pink !important;
}

.nav-link {
  color: white !important;
}

.btn-primary:hover {
  text-decoration: none;
  color: black !important;
  background: pink !important;
  padding-top: 12px;
 
  margin-bottom: 12px;
}

#H3Fr {

  font-family: 'arial';

}
.btn-primary{
  padding-top: 12px;
}